body{
    display:flex;
    align-items: center;
    height: 100vh;
    padding:none;
    margin:none;
    justify-content: center;
    background-color:darkgray;
    overflow-y:hidden;
    overflow-x:hidden;
    box-sizing: border-box;
    border-radius: 15px;
}

.square{
    display:flex;
    width:12.5% ;  /*making each square take up a percentage of the board*/
    height: 12.5% ;  /*making each square take up a percentage of the board*/
    float:left;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Chessboard{
    display:flex;
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
    display:flex;
    
}

.white{
    background-color:lightblue;
}

.black{
    background-color:darkcyan;
}

.letter{                   /* making all containing letter class to be the same and position in the right bottom corner*/
    display:flex;
    font-size:20px;
    font-weight: bold;
    position: absolute;    /* use absolute as it uses the square as an ancestor, therefore easy to move about the contents*/
    bottom: 3%;            /* positioning letters in bottom right corner*/
    right:3%;              /* positioning letters in bottom right corner*/
}

.number{
    display:flex;
    font-weight: bold;
    position:absolute;
    font-size:20px;
    top:5%;
    left:5%;
}

.light{
    color: lightblue;
}

.dark{
    color:darkcyan;
}

.piece img{
    width:95%;
    height: 95%;
}

.piece{
    width:95%;
    cursor:grab;
}

.tutorial{                       /* for button */
    border:20px;
    background-color:darkcyan;
    color: white;
    font-weight:bold;
    font-size: large;
    padding:25px 35px ;
    text-align:center;
    margin: 10px;
    border-radius:15px;
    text-decoration: none; /* to remove underline of link*/
    position:relative;
    top:-100%;
    left:-20%;
}

.explain{
    background-color:lightgray;
    display:relative;
    height: 700px;
    width: 700px;
    border-radius:15px;
    position:relative;
    text-align: center;
}

.frame{
    position:fixed; 
    left:30.5%;
    top:10%;
}
    
 .heading{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
 }


 .text{
    font-size: small;
 }

 .exit{
    position:absolute;
    background-color: lightgray;
    font-size: large;
    left:65%;
    top: 18%;
 }

 .timerbtn{
    border:20px;
    background-color:darkcyan;
    color: white;
    font-weight:bold;
    font-size: large;
    padding:25px 35px ;
    text-align:center;
    margin: 10px;
    border-radius:15px;
    text-decoration: none; /* to remove underline of link*/
    position:relative;
    top:-90%;
    left:-45%;
 }

 @media (min-width:800px) {
    .Chessboard{
        width:800px;
        height:800px;
    }
 }
 
.piece.highlight{
  outline: 5px solid gold;
  outline-offset: 2px;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
  border-radius: 4px;
 }