body{
    display:flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color:black;
    overflow-y:hidden;
    overflow-x:hidden;
    box-sizing: border-box;
    border-radius: 15px;
}

.square{
    display:flex;
    width:12.5% ;  /*making each square take up a percentage of the board*/
    height: 12.5% ;  /*making each square take up a percentage of the board*/
    float:left;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Chessboard{
    display:flex;
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
    display:flex;
    box-shadow: 0 0 20px 10px var(--pulse-colour);
}


.white{
    background-color:lightblue;
}

.black{
    background-color:darkcyan;
}

.letter{                   /* making all containing letter class to be the same and position in the right bottom corner*/
    display:flex;
    font-size:20px;
    font-weight: bold;
    position:absolute;    /* use absolute as it uses the square as an ancestor, therefore easy to move about the contents*/
    bottom:5%;            /* positioning letters in bottom right corner*/
    right:5%;              /* positioning letters in bottom right corner*/
}

.number{
    display:flex;
    font-weight: bold;
    position:absolute;
    font-size:20px;
    top:5%;
    left:5%;
}

.light{
    color: lightblue;
}

.dark{
    color:darkcyan;
}

.piece img{
    width:95%;
    height: 95%;
}

.piece{
    width:95%;
    cursor:pointer;
}
.queen{
    position:relative;
    left:2.25px;
    top:1px;
}
.tutorial{                       /* for button */
    background-color:darkgrey;
    color: black;
    font-size: xx-large;
    text-align:center;
    border-radius:40px;
    text-decoration: none; /* to remove underline of link*/
    position:relative;
    width: 200px;
    height: 100px;
    right:61%;
    bottom:43%;
}

.explain{
    background-color:lightgray;
    height: 700px;
    width: 700px;
    border-radius:15px;
    position:relative;
    text-align: center;
}

.frame{
    position:fixed; 
    left:30.5%;
    top:10%;
}
    
 .heading{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
 }


 .text{
    font-size: small;
 }

 button.exit{
    position:absolute;
    background-color: lightgray;
    font-size: large;
    left:65%;
    top: 18%;
 }

 .change{
    border-radius:15px;
    text-decoration: none; /* to remove underline of link*/
    position:relative;
    bottom:88%;
    right:62%;
    color:white;
    background-color: black;
    border:none;
    font-weight: bolder;
    font-size: large;
 }

 @media (min-width:800px) {
    .Chessboard{
        width:800px;
        height:800px;
    }
 }
 
.highlight{
    border-radius: 50px;
    box-shadow: 0 0 20px 5px var(--pulse-colour);
}

.Chessboard.flip{
    transform:rotate(180deg);
    animation-delay: 1s;
    .change{
        display:none;
    }
    .timerbtn{
        display: none;
    }
    .tutorial{
        display: none;
    }
    .piece img{
        transform:rotate(180deg);
    }
    .number{
        transform:rotate(180deg);
        right:-697px;
        z-index: 3;
        top: 75px;
    }
    .light{
        color:darkcyan;
        }
    .dark{
        color:lightblue;
        }
    .letter{
        transform:rotate(180deg);
        right:85%;
        bottom:775%;
    }
    
}

.legalsquares{
    box-shadow: inset 0 0 12px 6px var(--pulse-colour);
    
    animation: pulse 1s infinite alternate;
}
@keyframes pulse{
    from {
    box-shadow: inset 0 0 20px 2px var(--pulse-colour);
  }
  to {
    box-shadow: inset 0 0 30px 6px var(--pulse-colour);
  }
}

    
html{
    --pulse-colour: rgb(16, 247, 66);
}

.colour{
    position:relative;
    bottom:88%;
    right:62%;
    height:80px;
    width:130px;
    
}

button{
    border-radius:60px;
    position:relative;
    height: 140px;
    width: 600px;
    margin:4px;
    font-size:xx-large;
    background-color: darkgray;
}

.modes{
    display: grid;
    grid-template-columns: auto;
    
}