body{
    display:flex;
    align-items: center;
    height: 50%;
    width:90%;
    padding:none;
    margin:none;
    justify-content: center;
    background-color:darkgray;
    overflow-y:hidden;
    overflow-x:hidden;
}

.square{
    display:flex;
    width:12.5% ;  /*making each square take up a percentage of the board*/
    height: 12.5% ;  /*making each square take up a percentage of the board*/
    float:left;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Chessboard{
    display:flex;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.white{
    background-color:lightblue;
}

.black{
    background-color:darkcyan;
}

.letter{                   /* making all containing letter class to be the same and position in the right bottom corner*/
    display:flex;
    font-size:20px;
    font-weight: bold;
    position: absolute;    /* use absolute as it uses the square as an ancestor, therefore easy to move about the contents*/
    bottom: 3%;            /* positioning letters in bottom right corner*/
    right:3%;              /* positioning letters in bottom right corner*/
}

.number{
    display:flex;
    font-weight: bold;
    position:absolute;
    font-size:20px;
    top:5%;
    left:5%;
}

.light{
    color: lightblue;
}

.dark{
    color:darkcyan;
}

.piece img{
    width:95%;
    height: 95%;
}

.piece{
    width:95%;
    cursor:grab;
}

.tutorial{                       /* for button */
    border:20px;
    background-color:darkcyan;
    color: white;
    font-weight:bold;
    font-size: large;
    padding:25px 35px ;
    text-align:center;
    margin: 10px;
    border: 1px;
    border-radius:15px;
    text-decoration: none; /* to remove underline of link*/
    
}

.explain{
    background-color:lightgray;
    display:inside;
    height: 730px;
    width: 900px;
    left:37px;
    border-radius:15px;
    position:relative;
    text-align: center;
}

.frame{
    position:fixed; 
    bottom:18.5%; 
    left:25.5%; 
}
 .heading{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
 }


 .text{
    font-size: small;
 }

 .exit{
    position:absolute;
    background-color: lightgray;
    font-size: large;
    left:61%;
    top: 6%;
 }

 