body{
    display:flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color:darkgray;
    overflow-y:hidden;
    overflow-x:hidden;
    box-sizing: border-box;
    border-radius: 15px;
}

.square{
    display:flex;
    width:12.5% ;  /*making each square take up a percentage of the board*/
    height: 12.5% ;  /*making each square take up a percentage of the board*/
    float:left;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Chessboard{
    display:flex;
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
    display:flex;
    
}

.white{
    background-color:lightblue;
}

.black{
    background-color:darkcyan;
}

.letter{                   /* making all containing letter class to be the same and position in the right bottom corner*/
    display:flex;
    font-size:20px;
    font-weight: bold;
    position:absolute;    /* use absolute as it uses the square as an ancestor, therefore easy to move about the contents*/
    bottom:5%;            /* positioning letters in bottom right corner*/
    right:5%;              /* positioning letters in bottom right corner*/
}

.number{
    display:flex;
    font-weight: bold;
    position:absolute;
    font-size:20px;
    top:5%;
    left:5%;
}

.light{
    color: lightblue;
}

.dark{
    color:darkcyan;
}

.piece img{
    width:100%;
    height: 100%;
}

.piece{
    width:95%;
    cursor:pointer;
}

.tutorial{                       /* for button */
    border:20px;
    background-color:darkcyan;
    color: white;
    font-weight:bold;
    font-size: large;
    padding:25px 35px ;
    text-align:center;
    margin: 10px;
    border-radius:15px;
    text-decoration: none; /* to remove underline of link*/
    position:relative;
    top:-100%;
    left:-20%;
}

.explain{
    background-color:lightgray;
    height: 700px;
    width: 700px;
    border-radius:15px;
    position:relative;
    text-align: center;
}

.frame{
    position:fixed; 
    left:30.5%;
    top:10%;
}
    
 .heading{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
 }


 .text{
    font-size: small;
 }

 .exit{
    position:absolute;
    background-color: lightgray;
    font-size: large;
    left:65%;
    top: 18%;
 }

 .timerbtn{
    border:20px;
    background-color:darkcyan;
    color: white;
    font-weight:bold;
    font-size: large;
    padding:25px 35px ;
    text-align:center;
    margin: 10px;
    border-radius:15px;
    text-decoration: none; /* to remove underline of link*/
    position:relative;
    top:-90%;
    left:-45%;
 }

 @media (min-width:800px) {
    .Chessboard{
        width:800px;
        height:800px;
    }
 }
 
.highlight{
    box-shadow: inset 0 0 12px 6px rgba(255, 0, 0);
    
    animation: pulse 1s infinite alternate;
}
@keyframes pulse{
    from {
    box-shadow: inset 0 0 5px 2px rgba(255,0, 0);
  }
  to {
    box-shadow: inset 0 0 15px 6px rgba(255, 0, 0);
  }
}


.Chessboard.flip{
    transform:rotate(180deg);
    .timerbtn{
        display: none;
    }
    .tutorial{
        display: none;
    }
    .piece img{
        transform:rotate(180deg);
    }
    .number{
        transform:rotate(180deg);
        right:-697px;
        z-index: 3;
        top: 75px;
    }
    .light{
        color:darkcyan;
        }
    .dark{
        color:lightblue;
        }
    .letter{
        transform:rotate(180deg);
        right:85%;
        bottom:775%;
    }
    
}

.legalsquares{
    box-shadow: inset 0 0 12px 6px rgba(0, 0, 255);
    
    animation: pulse 1s infinite alternate;
}
@keyframes pulse{
    from {
    box-shadow: inset 0 0 5px 2px rgba(0,0, 255);
  }
  to {
    box-shadow: inset 0 0 10px 6px rgba(0, 0, 255);
  }
}

    

